
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<button style="width:200px; text-align:right; display:grid" type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Hakkımızda>></button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"><u>Hakkımızda Paneli</u></h2>
            </div>
            <form>
                <div class="modal-body">
                    <label style="width:500px">
                        Bu proje Salih TERZİ tarafından Youtube/Murat Yücedağ/50 Derste MVC ders serisi ile birlikte
                        yapılmıştır.
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>

<button style="width:200px; text-align:right; margin-top:20px" type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal2">Yardım ve İletişim>></button>
<div class="modal" id="Modal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"><u>Yardım ve İletişim Paneli</u></h2>
            </div>
            <form>
                <div class="modal-body">
                    <label>
                        Karşılaşılan hata veya eklenmesini istediğiniz alanları bize bildirin.
                        <br />
                        Telefon:0550 555 00 00
                        <br />
                        Mail Adresi:salih@gmail.com
                        <br />
                        Adres:Düzce Ünv., 81620 Yörük/Düzce Merkez/Düzce
                    </label>
                    <br />
                    <label></label>
                </div>
            </form>
        </div>
    </div>
</div>

